/* header styles */
.header {
  overflow: hidden;
  background-color: black;
  padding: 20px 10px;
  margin-top: 0;
}

.header a {
  float: left;
  color: white;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}

.header a.logo {
  font-size: 25px;
  font-weight: bold;
}


.header a:hover {
  background-color: #ddd;
  color: black;
}


.header a.active {
  background-color: #52ab98;
  color: white;
}


.header-right {
  float: right;
}


@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  .header-right {
    float: none;
  }
}

/*body style */
body{
  font-family: 'Sanchez', serif;
  text-align:center;
  width:100%;
  background: url('images/bodyimage.jpg') no-repeat center center fixed;
  background-size: cover;
}

h1{
  text-shadow: 1px 1px 1px #aaa;
  color:black;
  font-size:3.5em;
  font-weight:bold;
  margin-top:20px;
  letter-spacing:3px;
}

.t20box {
  text-align: center;
}

.quote-background{
  text-align: center;
  background: url('images/quoteimage.jpg') no-repeat center center fixed;
  background-size: cover;
}


@media only screen and (max-width: 640px) {
  /* Add your custom styles here for Mobile */
  h1 {font-size:2.5px;font-weight:200px;}
}
@media only screen and (max-width: 480px) {
  /* Add your custom styles here for smaller Mobile */
  h1 {font-size:2em;font-weight:200px;}
}

.info{
   font-size:22px;
   font-family: serif;
}

table {
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}

th {
  background-color: #52ab98;
  color: white;
  font-size: 30px;
}

td {
  font-size: 20px;
  font-weight: bold;
}

th, td {
  padding: 20px;
  text-align: center;
}

select{
  font-size: 20px;
  font-weight: bold;
  padding: 15px;
}

.btn{
  background-color: #EBE5E1;
  text-align: center;
  font-size: 14px;
  border-radius: 10px;
  box-shadow: -5px 5px 10px rgba(100,100,100,.8);
  letter-spacing:1px;
    margin-bottom:20px;
}
.btn:hover {
   transform:scale(1.1);
  transition: 0.2s;
  letter-spacing:2.2px;
  background-color:white;
}
.btn:focus,.btn:active{
  outline:0 important!;
}

.quo {
  font-size: 30px;
}

.aut {
  font-size: 20px;
  font-family: cursive;
}

.well {
    min-height: 15px;
    padding: 5px;
    margin: 50px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
}

.well1 {
  padding-left: 3px;
  padding-right: 3px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
}

textarea {
  width: 40%;
  height: 100px;
  padding: 20px;
  margin-top: 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 20px;
  resize:horizontal;
}

.footer {
  margin-bottom: 0px;
  background-color: #52ab98;
  padding: 10px;
  font-size: 20px;
}

/* ? or Help Popup */
.help {
  width: 20px;
  margin: 0 auto;
}

.help .question {
  height: 40px;
  width: 40px;
  background: #ccc;
  font-size: 32px;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
  cursor: pointer;
}

.help .popup, .help .popup2 {
  width: 560px;
  height: 0px;
  text-align: left;
  overflow: hidden;
  position: relative;
  background: #eee;
  opacity: 0;
  transition: 1s;
}

.help .popup {
  left: -260px;
  top: 10px;
}

.help .popup2 {
  height: 220px;
}

.help .popup2 h4 {
  font-size: 18px;
  padding: 10px;
  margin: 0;
}

.help:hover .popup {
  opacity: 1;
  height: 150px;
}

.help .tell-me p:first-child {
  color: #317eac;
  cursor: pointer;
}

.tell-me {
  width: 150px;
}

.help .tell-me:hover .popup2 {
  top: -220px;
  opacity: 1;
}

.help .popup h3 {
  margin: 0;
  padding: 10px 0 0 10px;
  height: 30px;
  background: #555;
  color: #fff;
  font-weight: 400;
  font-size: 18px;
}

.help .popup p {
  font-size: 16px;
  padding: 10px;
  margin: 0;
}

.help .popup .popup2 .sub-levels {
  padding: 0 0 10px 140px;
}

.help .popup .popup2 .sub-levels strong {
  font-size: 20px;
}

.help .popup .popup2 p:nth-child(5) {
  padding: 20px 0 0 10px;
}

.help .popup a {
  text-decoration: none;
  color: #317eac;
}

.help .popup a:visited {
  color: #317eac;
}

.help .popup p em {
  font-size: 12px;
}
